<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Astra</h1>
    <a href="/page2?search_query=borntodev">Go to page 2</a>
    <a href="/product?limit=10&page=1">Product</a>
</body>
</html>